#inst-bar {
  font-size:14px;
  display:block;
  min-height:46px;
  background:#3f4e55 url(https://web.celepar.pr.gov.br/drupal/instbar/images/pr-gov-pr-bg-barra.png) no-repeat top right
}
#inst-bar ul {
  list-style: none;
}
#inst-bar ul#accessibility {
  margin:0 12px 0 0;
  padding:6px 0;
  color:#555
}
#inst-bar ul#accessibility li {
  display:block;
  float:left;
  border-left:1px solid #ddd;
  padding:0
}
#inst-bar ul#accessibility li:first-child {
  border:none
}
#inst-bar ul#accessibility li a {
  display:block;
  color:#555;
  font-size:.786em!important;
  padding:0 6px;
  height:23px;
  line-height:23px
}
#inst-bar ul#accessibility li a:hover {
  text-decoration:none;
  color:#068833
}
#inst-bar ul#accessibility li.opt-icon {
  border:none;
  margin-left:5px
}
#inst-bar ul#accessibility li.opt-icon a {
  background:#fff;
  border-radius:4px;
  color:#999;
  width:23px;
  padding:0;
  text-align:center;
  font-size:.75em!important
}
#inst-bar ul#accessibility li.opt-icon a:hover {
  color:#068833
}
#inst-bar ul#accessibility li.opt-icon a span {
  display:none
}
#inst-bar ul#accessibility li.opt-icon .icon-vlibras {
  display:block;
  background:url(https://web.celepar.pr.gov.br/drupal/instbar/images/inst-bar-icon-libras.png) no-repeat center top;
  width:23px;
  height:23px
}
#inst-bar ul#accessibility li.opt-icon:hover .icon-vlibras {
  background-position:0 -23px
}
#inst-bar ul#accessibility li.opt-icon~li.opt-icon {
  margin-left:5px
}
#inst-bar nav .btn-group {
  float:left;
  cursor:pointer;
  position:relative;
  z-index:999991
}
#inst-bar nav .btn-group button {
  background:0 0;
  border:none;
  color:#068833;
  font-size:.757em!important;
  font-weight:700;
  height:35px;
  padding:0 10px!important
}
#inst-bar nav .btn-group.open .dropdown-toggle {
  -webkit-box-shadow:none!important;
  box-shadow:none!important
}
#inst-bar nav .btn-group .dropdown-menu {
  padding:0;
  z-index:2000
}
#inst-bar nav .btn-group .dropdown-menu>li>a {
  color:#333;
  border-top:1px solid #d9d9d9;
  padding:7px 10px;
  display:block
}
#inst-bar nav .btn-group .dropdown-menu>li>a:hover {
  background:#00b958;
  color:#fff
}
#inst-bar nav .btn-group .dropdown-menu>li>a:focus {
  background:#00b958;
  color:#fff
}
#inst-bar nav .btn-group .dropdown-menu>li:first-child>a {
  border:none
}
#inst-bar .itens-gov {
  position:absolute;
  right:5px;
  top:8px
}
#inst-bar .header-social {
  position:absolute;
  right:245px;
  top:9px;
  margin:0!important
}
#inst-bar .btn-redes-gov-mobile {
  display:none
}
.element-invisible {
  height:0;
  overflow:hidden;
  position:absolute
}
.marca-gov-pr {
  margin:11px 23px;
  display:block
}
.adminimal-admin-toolbar .marca-gov-pr {
  margin:11px 23px 11px 161px
}
.header-social li {
  display:inline-block;
  margin:0 2px;
  width:28px;
  height:28px
}
.header-social li a {
  display:block;
  font-size:0;
  line-height:28px;
  border-radius:28px
}
.header-social li a:hover {
  background-color:rgba(255,255,255,.2)
}
.header-social li .sgov {
  background:url(https://web.celepar.pr.gov.br/drupal/instbar/images/pr-gov-br-redes-sociais.png) no-repeat;
  background-size:cover
}
.header-social li .sgov.sgov-instagram {
  background-position:center 0
}
.header-social li .sgov.sgov-twitter {
  background-position:center -28px
}
.header-social li .sgov.sgov-facebook {
  background-position:center -56px
}
.header-social li .sgov.sgov-youtube {
  background-position:center -84px
}
.header-social li .sgov.sgov-tiktok {
  background-position:center -112px
}
.header-social li .sgov.sgov-linkedin {
  background-position:center -140px
}
.header-social li .sgov.sgov-whatsapp {
  background-position:center -168px
}
.header-social li .sgov.sgov-vimeo {
  background-position:center -224px
}
@media (max-width:767px) {
  #inst-bar {
    background:#3f4e55;
    background-image:none
  }
  #inst-bar .header-social {
    right:8px;
    position:unset;
    padding:0;
    display:none;
    text-align:center;
    width:100%;
    display:none;
    height:auto;
    margin:0;
    padding-bottom:16px;
    text-align:center
  }
  #inst-bar li {
    width:36px;
    height:36px
  }
  #inst-bar li a {
    line-height:36px;
    border-radius:36px
  }
  #inst-bar li .sgov.sgov-instagram {
    background-position:center 0
  }
  #inst-bar li .sgov.sgov-twitter {
    background-position:center -36px
  }
  #inst-bar li .sgov.sgov-facebook {
    background-position:center -72px
  }
  #inst-bar li .sgov.sgov-youtube {
    background-position:center -108px
  }
  #inst-bar li .sgov.sgov-tiktok {
    background-position:center -144px
  }
  #inst-bar li .sgov.sgov-linkedin {
    background-position:center -180px
  }
  #inst-bar li .sgov.sgov-whatsapp {
    background-position:center -216px
  }
  #inst-bar li .sgov.sgov-vimeo {
    background-position:center -288px
  }
  #inst-bar .pull-left {
    float:none!important;
    text-align:center
  }
  #inst-bar .marca-gov-pr {
    display:inline-block;
    margin:15px auto;
    width:auto
  }
  #inst-bar .btn-redes-gov-mobile {
    width:21px;
    height:21px;
    background:url(https://web.celepar.pr.gov.br/drupal/instbar/images/pr-gov-br-redes-sociais.png) no-repeat;
    background-position:center -147px;
    background-size:cover;
    border-radius:50em;
    outline:0;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
    color:#3f4e55;
    font-size:1.5em;
    padding-top:3px;
    display:block;
    position:absolute;
    top:14.5px;
    right:22px
  }
  #inst-bar .btn-redes-gov-mobile:hover {
    background-color:rgba(255,255,255,.25)
  }
  #inst-bar .btn-redes-gov-mobile span {
    display:none
  }
  #accessibility {
    display:none!important
  }
  .itens-gov {
    display:none!important
  }
}
@media (max-width:309px) {
  #inst-bar .header-social li {
    display:inline-block;
    margin:4px 2px!important
  }
}
@media (min-width:768px) {
  body.contrast #inst-bar {
    border-bottom:1px solid #fff;
    background-color:#000!important;
    background-image:none!important;
    color:#fff!important
  }
  body.contrast #inst-bar nav .btn-group button {
    color:#fff
  }
  body.contrast #inst-bar nav .btn-group .dropdown-menu>li>a {
    background-color:#000!important;
    color:#fff!important
  }
  body.contrast #inst-bar ul#accessibility li.opt-icon a {
    background:#ff6!important;
    color:#000!important
  }
}
